body{
  background-image:url("paw-prints.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

#title{
    text-align: center;
    margin-bottom: 5px;
    color: #0F5257;
}

#form-bg{
  background-color: #F9F8F8;
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}
#survey-form{
    margin-left: 10%;
    margin-right: 10%;
}

#description{
    text-align: center;
    margin-top: 0px;
    color: #0F5257;
}

#submit{
    
}